[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-pinecone = "*"
langchain-community = "*"
pinecone-client = "*"
langchainhub = "*"
python-dotenv = "*"
tenacity = "*"
pymongo = "*"
langchain-groq = "*"
pandas = "*"
streamlit = '*'

[dev-packages]

[requires]
python_version = "3.11"
